<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Universis Project | Discord Authorization</title>
  <!-- Universis theme core CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@universis/theme@1.1.2/css/universis.css"
    integrity="sha256-eiB6rNZqEPbZYMS4jEsZNCceohe6OhJn7knaBKgrCJY=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <style>
    .fa-10x {
      font-size: 10rem;
    }

    .message-container {
      position: absolute;
      height: 100%;
      width: 100%;
      padding: 0;
      margin: -8px 0 0 -8px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: none;
    }
  </style>
</head>

<body>

  <main>
    <div class="container message-container">
      <% if (ok) { %>
        <div class="d-flex flex-row justify-content-center">
          <div class="px-4 py-md-3">
            <div class="d-flex justify-content-center">
              <img src="https://cdn.discordapp.com/avatars/<%= model.id %>/<%= model.avatar %>?size=64" class="rounded-circle" style="width: 64px;" alt="Avatar" />
            </div>
            <h3 class="pt-3 text-center">
              <%= model.username %>#<%= model.discriminator %>
            </h3>
            <div class="text-muted text-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-discord" viewBox="0 0 16 16">
                <path d="M13.545 2.907a13.227 13.227 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.19 12.19 0 0 0-3.658 0 8.258 8.258 0 0 0-.412-.833.051.051 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.041.041 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032c.001.014.01.028.021.037a13.276 13.276 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019c.308-.42.582-.863.818-1.329a.05.05 0 0 0-.01-.059.051.051 0 0 0-.018-.011 8.875 8.875 0 0 1-1.248-.595.05.05 0 0 1-.02-.066.051.051 0 0 1 .015-.019c.084-.063.168-.129.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.052.052 0 0 1 .053.007c.08.066.164.132.248.195a.051.051 0 0 1-.004.085 8.254 8.254 0 0 1-1.249.594.05.05 0 0 0-.03.03.052.052 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.235 13.235 0 0 0 4.001-2.02.049.049 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.034.034 0 0 0-.02-.019Zm-8.198 7.307c-.789 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612Zm5.316 0c-.788 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612Z"/>
              </svg>
              &nbsp;Connected to Discord.
            </div>
            <div class="text-center text-muted small">
              You will be redirected to your profile in 5 seconds.
            </div>
            <div class="text-center pt-5"></div>
          </div>
        </div>
      <% } else { %>
        <div class="col-md-8 col-sm-10 col-xs-10">
          <div class="d-flex flex-row justify-content-center">
            <i class="fa fa-frown-o fa-10x text-secondary" title="E404"></i>
          </div>
          <div class="d-flex flex-row justify-content-center">
            <div class="px-4 py-md-3">
              <h3 class="pt-3 text-center">
                An error occured
              </h3>
              <h5 class="text-muted text-center">
                <%= error.message %>
              </h5>
              <div class="text-muted text-center">
                <a href="user">Return</a>
              </div>
              <div class="text-center pt-5"></div>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </main><!-- /.container -->

  <!-- Bootstrap core JavaScript
================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha256-/ijcOLwFf26xEYAjW75FizKVo5tnTYiQddPZoLUHHZ8=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha256-2JaAhvdQnfNMMnhWPauHOZ2k+dzftBmBjjownu3HC4g=" crossorigin="anonymous"></script>

  <% if (ok) { %>
    <script type="text/javascript">
      $(document).ready(function () {
        setTimeout(function () {
          window.location.href = "user";
        }, 5000);
      });
    </script>
  <% } %>
</body>

</html>